body {
    background-color: #EBE8E4;
    color: #222;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

img {
    padding:1px;
    border:1px solid #021a40;
    background-color:#ff0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: cursive;
    text-align: center;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;

}

nav {
    font-family: cursive;

}
nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

nav a:hover {
    background-color: gold;
}

nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}