body {
    background-color: black;
}
section {
    text-align: center;
    color: white;
    padding-top: 200px;
    margin: 12px 420px 12px 420px;
}

h1 {
    color: #ffffff;
    font-size: 56px;
    background-color: red;
    margin: 10px 10px 10px 10px;
    padding: 10px 0px 10px 12px;
    border-radius: 20px;
    border-style: solid;
    border-width: medium;
    border-color: red;
    text-transform: lowercase;
}

h4 {
    margin-bottom: 22px;
    font-size: .75rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}

a[href^="https"] {
    display: inline-block;
    color: #fff;
    font-size: .6875em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: FuturaNDLight,sans-serif;
    font-weight: 400;
    border: 2px solid rgba(255,255,255,.6);
    padding: 7px 15px 7px 15px;
    margin-bottom: 350px;
}


footer {
  position: relative;
  text-align: center;
  margin: auto;
  height: 15px;
  width: 150px;
}


footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: white;
  -webkit-transform: skew(0deg, 40deg);
 
}


footer:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: white;
  -webkit-transform: skew(0deg, -40deg);
  
}​