body {
    background-color: #ffffff;

}

section {
    float: left;
    padding: 30px 10px 0px 75px;
    margin: 5px 5px 5px 5px;
    text-align: left;
}
li  {
    list-style: none;
    line-height: 175%;
    text-decoration: none;
    color: #CCCCCC

}
a {
    text-decoration: none;
    color: #CCCCCC;
}
