body {

    background-color: #ffffff;
   

}

header {
height: 70px;
border-bottom: 1px solid #CCCCCC;

}
#logo a {
  margin-left: 24px;
  font-family: novecento_sans_widelight, sans-serif;
  font-size: 24px;
  padding-top: 30px;
  color: #CCCCCC;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-transition: color 0.25s;

}
#social {
    float: right;
    padding-right: 50px;
    
    
}

#icons {
    float: left;
    display: inline-block;
    margin-left: 5px;
    font-family: novecento_sans_widelight, sans-serif;
    font-size: 18px;
    color: 24px;
    letter-spacing: 25px;
    text-transform: uppercase;
    border-right: 1px solid #CCCCCC;
}

a {
    text-decoration: none;
}

section  {
    float: right;
    width: 715px;
    height: 600px;
    padding-top: 20px;
    padding-right: 100px;


}

aside {
    float: right;
    width: 200px;
    display: inline-block;

}


