body {

    background-color: #ffffff;
   

}

header {
height: 70px;
width: 100%;
margin: 0px ;
border-bottom: 1px solid #CCCCCC;

}
#logo a {
  float: left;
  padding-top: 20px;
  margin-left: 20px;
  font-family: novecento_sans_widelight, sans-serif;
  font-size: 24px;
  color: #CCCCCC;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 0.25s;
}

li {
  list-style-type: none;
}



#social  {
    float: right;
    padding-right: 50px;
    padding-top: 20px;
    
}

#social a {
  text-transform: uppercase;
  font-size: 16px;
  color: #CCCCCC;
  text-decoration: none;
}

#icons {
    float: left;
    display: inline-block;
    border-right: 1px solid #CCCCCC;
}


section  {
    float: right;
    width: 715px;
    height: 600px; 
    padding-top: 20px;
    padding-right: 200px;


}

aside {
    float: right;
    width: 200px;
    display: inline-block;

}



