body {
    background-color: #ffffff;
}

#feature {
    color: black;
    font-size: 28px;
    width: 800px;
    height: 370px;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-color: black;
}
h1 + h4 {
    margin-top: -25px;
}
h1 {
    width: 600px;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 100px;
    padding-left: 10px;
}


img {
    padding-top: 50px;
    padding-right: 25px;
    float: right;
}
h4 {
    margin-right: 0px;
    font-size: 12px;
    padding-left: 10px;
    margin-top: 0px;
}
