body {
    background-color: white;
}
img {
    float: left;
}
#left a {
    float: left;
    padding: 10px 0px 10px 30px;
    font-family: Georgia serif;
    text-decoration: none;
}

nav {
    font-size: 12px;
}

#right  {
    float: right;
    padding: 5px;

}

#right a {
    padding-left: 10px;
    text-decoration: none;
}